<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test.letsgoseoul">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".MyApplication">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyANGZ-ybQHoqol2dNX-g47jilVd29POBks" />
        <activity android:name=".Splash" android:theme="@android:style/Theme.NoTitleBar" />
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Selected_Place"
            android:label="LetsGoSeoul">
        </activity>
        <activity android:name=".RestaurantList"></activity>
        <activity android:name=".Selected_Restaurant"></activity>
    </application>

</manifest>

<!--<action android:name="android.intent.action.SEARCH" />-->